﻿@inherits LayoutComponentBase

<Layout Sider>
    <LayoutSider>
        <LayoutSiderContent>
            <MyMenu />

        </LayoutSiderContent>
    </LayoutSider>
    <Layout>
        <LayoutHeader Fixed>

        </LayoutHeader>

        <LayoutContent Padding="Padding.Is4.OnX">
            @*@Body*@
            <emailbase2023.Components.TaskStatus></emailbase2023.Components.TaskStatus>
        </LayoutContent>
        <LayoutFooter>
            Copyright Worldhub Communication 
        </LayoutFooter>
    </Layout>
</Layout>

