﻿<Bar Breakpoint="Breakpoint.Desktop" NavigationBreakpoint="Breakpoint.Tablet" ThemeContrast="ThemeContrast.Dark"
     Mode="BarMode.VerticalInline" CollapseMode="BarCollapseMode.Small">
    <Row Class="menuLogo">

    </Row>
    <Div>
        <BarToggler />
    </Div>

    @*<BarBrand Height="Height.Auto">
    <BarItem>
    <BarLink To="/home" Class="applogo">
    <BarIcon class="applogo" />
    </BarLink>
    </BarItem>
    </BarBrand>*@



    <BarMenu>
        <BarStart>
            <BarItem>
                <BarLink To="/">
                    <BarIcon IconName="IconName.Home" />
                    Home
                </BarLink>
            </BarItem>


            @*       <BarItem>
            <BarLink To="/change_password">
            <BarIcon IconName="IconName.Home" />
            Change Pwd
            </BarLink>
            </BarItem>*@

            <BarItem>
                <BarDropdown >
                    <BarDropdownToggle>
                        <BarIcon IconName="IconName.Book" />
                        Tasks
                    </BarDropdownToggle>
                    <BarDropdownMenu>
                        <BarDropdownItem To="/taskstatus">NextTasks</BarDropdownItem>
                        <BarDropdownItem To="/">AllTasks</BarDropdownItem>
                        <BarDropdownItem To="/">add tasks </BarDropdownItem>
                    </BarDropdownMenu>
                </BarDropdown>
                <BarDropdown >
                    <BarDropdownToggle>
                        <BarIcon IconName="IconName.List" />
                        Settings
                    </BarDropdownToggle>
                    <BarDropdownMenu>
                        <BarDropdownItem To="/ophistory">Operation Log</BarDropdownItem>
                    </BarDropdownMenu>
                </BarDropdown>
            </BarItem>


        </BarStart>
    </BarMenu>
</Bar>
@code {
    private bool uiInventoryVisible = false;
    //private bool uiOtpVisible = true;
    private bool uiPartnerVisible = false;
    private bool uiConfigVisible = false;


    protected override void OnInitialized()
    {

        base.OnInitialized();
    }
}