﻿@using DB;


<Card Margin="Margin.Is4.OnY">

    <CardBody>

        <DataGrid TItem="ModelTasks"
                  Data="@dataModelsTask"
                  Editable="false"
                  ShowPager="true"
                  Sortable="true"
                  SortMode="DataGridSortMode.Multiple"
                  Filterable="true"
                  FilterMethod="DataGridFilterMethod.Contains"
                  UseInternalEditing="true"
                  CommandMode="DataGridCommandMode.Default"
                  Resizable="false"
                  Striped="true"
                  PageSize="40">
            <EmptyTemplate>No Record</EmptyTemplate>

            <DataGridColumns>
                <DataGridColumn TItem="ModelTasks" Field="@nameof(ModelTasks.task_name)" Caption="TaskName" Sortable="true" Editable="false" Filterable="false" />
                <DataGridColumn TItem="ModelTasks" Field="@nameof(ModelTasks.sp_name)" Caption="SPName" Sortable="true" Editable="false" Filterable="false" />
                <DataGridColumn TItem="ModelTasks" Field="@nameof(ModelTasks.taskCronExpress)" Caption="CronExpress" Sortable="true" Editable="false" Filterable="false" />
                <DataGridColumn TItem="ModelTasks" Field="@nameof(ModelTasks.lastrun_time)" Caption="LastRunTime" Sortable="true" Editable="false" Filterable="false" />
                <DataGridColumn TItem="ModelTasks" Field="@nameof(ModelTasks.nextrun_time)" Caption="NextRunTime" Sortable="true" Editable="false" Filterable="false" />

       
            </DataGridColumns>
        </DataGrid>
    </CardBody>


</Card>

